main{
    padding: 32px 0 !important;
}

.profile_stats {
    flex-direction: row;
    width: 100%;
    display: flex;
    gap: 16px;
}

.profile_stats>div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 16px;
}

.profile_stats>div>div {
    height: 160px;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 769px) {
    .profile_stats {
        flex-direction: column;
        gap: 32px;
    }

    .profile_stats>div>div {
        width: 160px;
    }
}

.landingheader_box {
    height: 420px;
    background: var(--bg-color-dark);
    padding: 0 32px;
    position: relative;
    border-radius: var(--form-rad);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.person_img {
    width: 170px;
    height: 270px;
    border-radius: 8px;
    background: #DE3C3F;
}

.landingheader_box > div {
    flex: 1 1 auto;
    min-width: 0;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 36px;
    text-align: center;
}

.green_info_section{
    background: var(--bg-color-light);
}

.green_info_section > section > h2, .green_info_section > section > div{
    width: 40%;
}

.green_info_section > section{
    max-width: 1440px;
}

.login_btn > img{
    filter: brightness(0) invert(1);
}

@media only screen and (min-width: 1024px) and (max-width: 1124px) {
    .landingheader_box {
        height: 380px;
    }

    .landingheader_box {
        padding: 0 32px;
    }

    .person_img {
        width: 140px;
        height: 220px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 24px !important;
    }

    .landingheader_box {
        height: 320px;
        padding: 0 32px;
    }

    .person_img {
        width: 110px;
        height: 180px;
    }
}

@media screen and (max-width: 780px) {
    .guest_login_box{
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 769px) and (min-width: 480px) {
    h1 {
        font-size: 24px !important;
    }

    .landingheader_box {
        height: 280px;
    }

    .landingheader_box {
        padding: 0 32px;
    }

    .person_img {
        display: none;
    }
    
    .green_info_section > section{
        flex-direction: column;
    }

    .green_info_section > section > h2, .green_info_section > section > div{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 18px !important;
    }

    .landingheader_box {
        height: 260px;
        padding: 0 4px;
    }

    .person_img {
        display: none;
    }

    .green_info_section > section{
        flex-direction: column;
    }
    .green_info_section > section > h2, .green_info_section > section > div{
        width: 100%;
    }
}
