.login_section{
    max-width: 950px;
    padding: 0 !important;
    overflow: hidden;
}

.login_img_section{
    align-self: stretch;
    flex: 1;
    background: var(--bg-color-dark);
}

.login_form_section{
    padding: var(--form-pad);
}

@media screen and (max-width: 1024px) {
    .login_section{
        max-width: var(--form-s-max-w);
    }

    .login_img_section{
        display: none;
    }
}
